@use 'hero';
@use 'components/infosbar';
@use 'components/buttons';
@use 'event';
@use 'variaves' as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: $textColor;
    list-style: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media(max-width: 640px){//celulares
        max-width: 80%;
    }

    @media(max-width: 1024px){//tablets ou telas menores
        max-width: 90%;
    }
}